body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.appWrapper {
  padding: 15px 12px;
  font-size: 26px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  cursor: pointer;
  background-color: #F2F2F2;
  box-shadow: 2px 2px #E3E3E3;
}

.appWrapper:hover {background-color: white};

.main {
  padding: 20px;
  font-size: 14px;
}

.reviewText {
  width: 98%;
  text-align: justify;
}
.reviewLeftMargin {
  margin-left: 12px;
}

.user {
  font-weight: bold;
  margin-right: 15px;
}

.space {
  margin: 0px 15px;
}
.marginRight {
  margin-right: 15px;
}
.marginTop {
  padding-top: 5px;
}
.boldText {
  font-weight: bold;
  font-size: 18px;
}
.redText {
  color: red;
  cursor: pointer;
}

.redText:hover{color: black};


.button {
  background-color: #EEEEEE;
  box-shadow: 2px 2px #999;
  padding: 9px 10px;
  border-radius: 2px;
  font-size: 14px;
  margin: 14px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: red;
};

.box {
  padding: 4px 15px;
  Margin: 14px 0px;
  border: 1px solid #DDDDDD;
  background-color: #F2F2F2;
}

.selectC {
  margin-left: 2px;
  border: none;
  font-size: 14px;
  background-color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.stars {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.redStar {
  letter-spacing: 1px;
  color: red;
}

.greyStar {
  letter-spacing: 1px;
  color: grey;
}

.newReview {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #F7F7F7;
  padding: 30px;
}

.marginBottom {
  margin-bottom: 20px;
}
.inputField {
  margin-bottom: 20px;
  margin-top: 10px;
  border: 1px solid #edeaea;
  border-radius: 2px;
  padding: 10px;
  width: 95%;
}
.reviewInput {
  height: 70px;
  width: 95%;
}
.postBtn {
  background-color: red;
  color: white;
  box-shadow: 1.5px 1.5px #999;
  padding: 10px 19px;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  margin: 14px 2px;
  cursor: pointer;
}
.msg {
  font-size: 10px;
}
.floatRight {
  float: right;
}
.floatLeft {
  float: left;
  margin-right: 12px;
}
.yesNo {
  background-color: #EEEEEE;
  box-shadow: 1.5px 1.5px #999;
  padding: 7px 12px;
  border-radius: 2px;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}
.yesNo:hover {
  background-color: white;
  color: red;
};